@import url('global.css');
@import url('partials/header.css');
@import url('partials/footer.css');
@import url('partials/jumbotron.css');

/* about */
.about {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.about .col:first-child {
    order: 2;
}

.about .col:last-child {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .col:last-child img {
    width: 85%;
}

.about__title {
    text-align: center;
    margin: 1rem 0;
}

.about__description {
    font-size: 1.25em;
    text-align: center;
}

.about__description p {
    margin: 1rem;
}

.about__description .row {
    flex-wrap: wrap;
    justify-content: center;
}

.card__desc {
    display: flex;
    width: 80%;
}

.circle__point {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: var(--orange-color);
    border-radius: 50%;
}

.card__desc p {
    width: 80%;
    text-align: start;
}

@media screen and (min-width: 768px) {    
    .about__title {
        font-size: 2em;
        margin: 2rem 0;
    }

    .card__desc {
        display: flex;
        width: 50%;
    }

    .about .col:last-child img {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .about {
        padding: 3rem;
        flex-direction: row;
    }
    
    .about .col:first-child {
        order: 1;
        width: 60%;
        padding: 1rem;
    }
    
    .about .col:last-child {
        order: 2;
        width: 40%;
        padding: 1rem;
    }

    .about__title {
        font-size: 2.5em;
        text-align: start;
        margin: 2rem 0;
    }
    
    .about__description {
        text-align: start;
    }
    
    .about .col:last-child img {
        width: 85%;
        max-width: 380px;
    }
}

/* dashboard */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    background: #f4f6f8;
}

h3.dashboard__title {
    margin-bottom: 3rem;
}

.dashboard__articles {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dashboard__articles .article__card {
    width: 300px;
    height: 420px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.article__card h4 {
    font-size: 1.2em;
    padding: 1rem 0.5rem;
}

.article__card p {
    padding: 0.5rem 0.75rem;
}

.article__card a {
    position: absolute;
    bottom: 1rem;
    color: var(--orange-color);
}

.article__card a:hover {
    font-weight: 600;
    color: var(--orange-color-hover);
}

.article__card img {
    width: 100%;
    aspect-ratio: 3/2;
}

@media screen and (min-width: 992px) {
    .dashboard__articles {
        gap: 3rem;
    }
}

/* reservation */
.reservation {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation h3 {
    font-size: 2em;
    text-align: center;
}

.reservation p {
    text-align: center;
    margin: 0.5rem 0 1rem;
    color: var(--nav-link-passive);
    line-height: 1.25rem;
}

.reservation .reservation__btn {
    padding: 0.75rem 5rem;
    background: var(--orange-color);
    border: none;
    border-radius: 0;
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.reservation .reservation__btn:hover {
    background-color: var(--orange-color-hover);
}

@media screen and (min-width: 768px) {
    .reservation {
        padding: 4rem 3rem;
    }

    .reservation h3 {
        font-size: 3em;
    }

    .reservation p {
        font-size: 1.15em;
        margin: 1.5rem 0 2rem;
        line-height: 1.25em;
    }
}

@media screen and (min-width: 992px) {
    .reservation {
        padding: 4rem 3rem;
        align-items: flex-start;
    }

    .reservation h3 {
        text-align: start;
    }

    .reservation p {
        text-align: start;
    }
}